@import "fonts";

body {
  background-color: #ccc;
  span {
    color: red;
  }
  font-family: DinosaurCakeDemo;
}
.main {
  width: 900px;
  height: 500px;
  background: url("@img/phoenix.jpeg") 0 0 no-repeat;
  color: #fff;
}
.bgexample {
  width: 200px;
  height: 200px;
  background: url("@img/phoenix.jpeg") 0 0 no-repeat;
}
@media (max-width: 768px) {
  span {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  body {
    background-color: green;
  }
}
